* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: #efefef;
	font-family: Arial, Helvetica, sans-serif;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
}

img {
	width: 100%;
}

.container {
	max-width: $max-width;
	margin: auto;
	padding: 1rem;
}

.bg {
	&-primary {
		@include set-background($primary-color);
	}
}
