@import 'config';
@import 'utils';

i.fas.fa-star,
i.fas.fa-star-half {
	color: rgb(255, 217, 0);
}

.navbar {
	display: flex;

	.container {
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 100%;
		padding: 0;

		img {
			width: 75px;
		}

		ul {
			display: flex;

			li {
				margin: 0 0.2rem;

				a {
					padding: 0.5rem;

					&:visited {
						color: inherit;
					}
				}
			}
		}
	}
}

// PRODUCTS
.products-grid {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 1.3rem;
	margin: 2rem 0;

	.product-item {
		a {
			color: #fff;
			text-decoration: none;
		}
	}
}

// PRODUCT

.rating {
	div {
		display: inline;
	}
	a {
		display: inline;
		text-decoration: none;
		margin: 0 0.35rem;
		font-size: 0.85rem;
		color: #333;
	}
}

.product-info {
	display: flex;
	margin: 0.5rem 0;

	img {
		max-width: 60%;
	}
}

@import 'tablet';
@import 'mobile';
