@import 'config';
@import 'utils';

i.fas.fa-star,
i.fas.fa-star-half {
	color: rgb(255, 217, 0);
}

.navbar {
	display: flex;

	.container {
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 100%;
		padding: 0;

		img {
			width: 75px;
		}

		ul {
			display: flex;

			li {
				margin: 0 0.2rem;

				a {
					padding: 0.5rem;

					&:visited {
						color: inherit;
					}
				}
			}
		}
	}
}

// PRODUCTS
.products-grid {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 1.3rem;
	margin: 2rem 0;

	.product-item {
		background: #c2c2c2;
		border-radius: 4px;
		padding: 1rem;
		display: flex;
		flex-direction: column;

		.card-img-top {
			border-radius: 4px;
		}

		h4 {
			margin-bottom: 0.6rem;
		}

		.card-bottom {
			display: flex;
			align-items: flex-end;
			justify-content: space-between;

			.btn {
				margin-top: 0.85rem;
			}
		}
	}
}

// PRODUCT
.rating {
	margin-bottom: 1rem;
	div {
		display: inline;
	}
	a {
		display: inline;
		text-decoration: none;
		margin: 0 0.35rem;
		font-size: 0.85rem;
		color: #333;
	}
}

.product-info {
	display: flex;
	margin: 0.5rem 0;

	h2 {
		margin-bottom: 0.75rem;
	}

	img {
		max-width: 60%;
	}
}

.footer {
	text-align: center;
}

@import 'tablet';
@import 'mobile';
